.container {
    /* Used to position the mega menu */
    position: relative;
}

.container__trigger:hover .container__content {
    /* Show the mega menu when hovering the trigger item */
    display: block;
}

.container__content {
    /* Border */
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: -1px;

    /* Hidden by default */
    display: none;

    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 100%;

    /* Take full width */
    width: 100%;

    /* Displayed on top of other elements */
    background: #fff;
    z-index: 9999;
}