<link rel="stylesheet" href="css/login - register/style.css">
<div class="container__login">
    <form action="#" method="POST" class="form__auth">
        <div class="container">
            <svg viewBox="0 0 960 300">
              <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="80%">Login</text>
              </symbol>
          
              <g class = "g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
              </g>
            </svg>
        </div>

        <div class="input-focus-effect">
            <input 
                type="text" 
                placeholder=" " 
                name="email"
                id="email"
            />
            <label>Email</label>
        </div>
        <div class="input-focus-effect">
            <input 
                type="text" 
                placeholder=" " 
                name="password"
                id="password"
            />
            <label>Password</label>
        </div>
        <div style=" text-align: right;" class="p__12"><a href="#" style="color:#000;">Register</a> Here!</div>
        
        <button class="button__login btn__auth" type="submit">Login</button>
    </form>
</div>